<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: common-head('Modifica Password')"></head>

<body class="bg-coffe">
	<!-- Navbar Section -->
	<div th:replace="fragments/navbar :: navbar"></div>


	<main class="index">
		<section class="text-center">
			<h1 class="title">Modifica password</h1>
			<p>La nuova password deve essere lunga almeno di 8 caratteri</p>
		</section>

		<div class="form ms-5 mt-5">
			<form action="/admin/changePassword" method="POST" onsubmit="return validateForm(event)">
				<div>
					<label for="oldPassword">Vecchia Password</label><br>
					<input type="password" id="oldPassword" name="oldPassword" required>
				</div>
				<div>
					<label for="newPassword">Nuova Password</label><br>
					<input type="password" id="newPassword" name="newPassword" required>
				</div>
				<div>
					<label for="confirmPassword">Conferma Nuova Password</label><br>
					<input type="password" id="confirmPassword" name="confirmPassword" required>
				</div>
				
				<button type="submit" class="coffe-button mt-5">Salva</button>
			</form>
	</main>
	<script src="/js/changePassword.js"></script>
	<div th:replace="fragments/footerScripts :: footerScripts"></div>

</body>

</html>