<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: common-head('Uma Coffe Prodotto')"></head>

<body class="bg-coffe">
	<!-- Navbar Section -->
	<div th:replace="fragments/navbar :: navbar"></div>


	<main class="index prodottoPage">

		<div th:replace="fragments/prodottoDettagli :: dettagli-prodotto"></div>

		<div class="text-center">
		<button class="hair-button"><a th:href="@{/admin/editProdotto/{id}(id=${prodotto.id})}">Modifica</a></button>
		<button class="hair-button ms-5"><a th:href="@{/admin/deleteProdotto/{id}(id=${prodotto.id})}" onclick="return confirm('Sei sicuro di voler eliminare questo prodotto?');">Cancella</a></button>
		</div>
		<section class="commenti">
			<p>Commenti</p>

			<div th:each="commento : ${prodotto.commenti}">
				<div>
					<div class="nomeUser">
						<span th:text="${commento.user.nome}" class="nomePrezzo fw-semibold">
							Nome
						</span>
						<span th:text="${commento.user.cognome.substring(0,1) + '.'}" class="nomePrezzo fw-semibold">
							Cognome
						</span>
						<span th:text="${commento.data}" class="data ms-3">
							Data
						</span>
					</div>
					<div class="commento">
						<p th:text="${commento.descrizione}">
							Descrizione
						</p>
						<button class="coffe-button"><a
								th:href="@{/admin/deleteCommento/{id}(id=${commento.id})}">Cancella</a></button>
					</div>
				</div>
			</div>
		</section>
	</main>

	<div th:replace="fragments/footerScripts :: footerScripts"></div>

</body>

</html>