<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<th:block th:fragment="footerScripts">
		
		<footer class="text-center py-3 mt-5">
			<p class="mb-0">&copy; 2025 Prodotto Pro. Tutti i diritti riservati.</p>
		</footer>
		
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
			crossorigin="anonymous"></script>

		<script src="/js/menu.js"></script>
	</th:block>
</body>

</html>