<!-- fragments/prodottoDettagli.html -->
<div th:fragment="dettagli-prodotto">
	<div class="row g-5 ms-3">
		<div class="col-12 col-md-4">
			<img class="immagine" th:src="@{'/images/prodotti/' + ${prodotto.immagine}}" alt="Prodotto">
		</div>

		<div class="col-12 col-md-4">
			<p th:text="${prodotto.nome}" class="nomePrezzo text-justify fw-semibold">Prodotto i</p>
			<p th:text="'Tipologia: ' + ${prodotto.tipologia.nome}">Tipologia i</p>
			<p th:text="${prodotto.descrizione}" class="text-justify">Descrizione i</p>
		</div>

		<div class="col-12 col-md-4 d-flex align-items-center justify-content-center">
			<p th:text="'€' + ${prodotto.prezzo}" class="nomePrezzoGrande text-center">Prezzo i</p>
		</div>
	</div>

	<hr class="section-divider">

	<section class="prodotti">
		<p>Prodotti simili</p>
		<div class="row g-3">
			<div class="col-12 col-sm-6 col-md-4" th:each="prodottoSimile : ${prodotto.prodottiSimili}">
				<div class="prodotto d-flex flex-column justify-content-center align-items-center text-center">
					<div>
						<a th:href="@{/prodotto/{id}(id=${prodottoSimile.id})}">
							<img class="immagine" th:src="@{'/images/prodotti/' + ${prodottoSimile.immagine}}"
								alt="Prodotto">
							<p th:text="${prodottoSimile.nome}" class="nomePrezzo mt-auto mx-auto mb-0 text-center fw-semibold">Prodotto i</p>
							<p th:text="'€' + ${prodottoSimile.prezzo}" class="nomePrezzo mt-auto mx-auto mb-0 text-center fw-semibold">€50,00</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<hr class="section-divider">
</div>
