h1 {
  font-size: 5rem;
  font-weight: 900;
  color: #fc696a;
  font-family: "Fredericka the Great", serif;
}

.logo {
  font-size: 3rem;
  font-family: "Covered By Your Grace", cursive;
}

.title {
  font-size: 3rem;
  font-family: "Fredericka the Great", serif;
  margin: 0rem 0rem 2rem 0rem;
}

p {
  color: #3e3e3e;
  font-size: 1.5rem;
}

span {
  color: #3e3e3e;
  font-size: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.link {
  color: #fc696a;
  font-family: "Fredericka the Great", serif;
}

.nomePrezzo {
  font-family: "Fredericka the Great", serif;
}

.nomePrezzoGrande {
  font-family: "Fredericka the Great", serif;
  font-size: 4rem;
}

.aUnderline {
  font-family: "Covered By Your Grace", cursive;
  color: #42c2ac;
}

.error {
  color: red;
}

/*
.btn {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;

  &.primary {
    background-color: variables.$primary-color;
    color: white;

    &:hover {
      background-color: variables.$primary-dark;
    }
  }*/
.eyes-button {
  border-radius: 0.3rem;
  cursor: pointer;
  box-shadow: 0 0.2rem 0.2rem #3a3340;
  transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
  min-width: 6rem;
  min-height: 2rem;
  max-height: 2rem;
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
  background-color: #feffc9;
  color: #3e3e3e;
  border: 0.01rem solid #b09500;
}
.eyes-button:hover {
  background-color: #dac448;
}

.coffe-button {
  border-radius: 0.3rem;
  cursor: pointer;
  box-shadow: 0 0.2rem 0.2rem #3a3340;
  transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
  min-width: 6rem;
  min-height: 2rem;
  max-height: 2rem;
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
  background-color: #fcfaf7;
  color: #3e3e3e;
  border: 0.01rem solid #beb39e;
}
.coffe-button:hover {
  background-color: #cabb98;
}

.hair-button {
  border-radius: 0.3rem;
  cursor: pointer;
  box-shadow: 0 0.2rem 0.2rem #3a3340;
  transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
  min-width: 6rem;
  min-height: 2rem;
  max-height: 2rem;
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
  background-color: #5f5766;
  color: #fcfaf7;
  border: 0.01rem solid #3a3340;
}
.hair-button:hover {
  background-color: #fcfaf7;
  color: #3e3e3e;
}

.jewels-button {
  border-radius: 0.3rem;
  cursor: pointer;
  box-shadow: 0 0.2rem 0.2rem #3a3340;
  transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
  min-width: 6rem;
  min-height: 2rem;
  max-height: 2rem;
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
  background-color: #42c2ac;
  color: #3e3e3e;
  border: 0.01rem solid #00a485;
}
.jewels-button:hover {
  background-color: #c3fef7;
}

body {
  font-family: "Gaegu", sans-serif;
}

.bg-coffe {
  background-color: #ede2cf;
}

nav {
  margin: 0rem 0rem 3rem 0rem;
  padding: 0rem 0.7rem 0rem 1rem;
  background-color: #5f5766;
  border: 0.01rem solid #3a3340;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0.2rem 0.2rem #beb39e;
}
nav .nav-left {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
nav .nav-left img {
  height: 40%;
  width: auto;
  height: 4rem;
}
nav .nav-left .site-title {
  font-weight: 900;
  font-size: 1.7rem;
  color: #42c2ac;
  text-decoration: none;
}
nav .nav-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.mobile-drawer {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  background-color: #ede2cf;
  box-shadow: 2px 0 5px #beb39e;
  transition: left 0.3s ease-in-out;
  padding: 1rem;
  z-index: 9999;
}
.mobile-drawer ul {
  list-style: none;
  padding: 0;
}
.mobile-drawer ul li {
  margin-bottom: 1rem;
}
.mobile-drawer ul li a {
  color: #3e3e3e;
  text-decoration: none;
  font-size: 1.2rem;
}

.mobile-drawer.active {
  left: 0;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #3e3e3e;
  z-index: 9998;
  display: none;
}

.menu-overlay.active {
  display: block;
}

.section-divider {
  border: none;
  border-top: 0.5rem dashed #cabb98;
  margin: 3rem auto;
  width: 80%;
}

footer {
  background-color: #5f5766;
  border: 0.01rem solid #3a3340;
}
footer p {
  color: #c7c4c9;
}

form {
  /*
  textarea {
  	padding: 0.5rem 1rem;
  	margin: 0.5rem auto;

  	background-color: $white-color;
  	border: 1px solid $top-coffe-color;
  	border-radius: 0.4rem;

  	font-size: clamp(1.5rem, 1.5vw, 1.5rem);
  	color: $font-color;

  	&::placeholder {
  		font-weight: $light-text;
  		color: $top-coffe-color;
  	}
  }*/
  /*
  input[type="date"] {
  	padding: 0rem 0.1rem 0rem 0.1rem; // top | right | bottom | left
  	min-width: clamp(13rem, 15vw, 15rem);
  	max-width: clamp(13rem, 15vw, 15rem);
  	min-height: clamp(1rem, 1.4vw, 1.4rem);
  	margin: 0rem 0.8rem 0.8rem 0.3rem;
  	border: 1px solid $text-color;
  	border-radius: 0.3rem;
  	font-size: clamp(0.9rem, 1.2vw, 1.2rem);
  	color: $text-color;

  	&::placeholder {
  		font-weight: $light-text;
  		color: $gray-color;
  	}
  }

  input[type="time"] {
  	padding: 0rem 0.1rem 0rem 0.1rem; // top | right | bottom | left
  	min-width: clamp(5rem, 7.5vw, 7.5rem);
  	max-width: clamp(13rem, 15vw, 15rem);
  	min-height: clamp(1rem, 1.4vw, 1.4rem);
  	margin: 0rem 0.8rem 0.8rem 0.3rem;
  	border: 1px solid $text-color;
  	border-radius: 0.3rem;
  	font-size: clamp(0.9rem, 1.2vw, 1.2rem);
  	color: $text-color;

  	appearance: none; // rimuove lo stile di default del browser (freccia inclusa)
  	-moz-appearance: none;
  	-webkit-appearance: none;

  	&::placeholder {
  		font-weight: $light-text;
  		color: $gray-color;
  	}
  }

  input[type="checkbox"] {
  	margin: 0rem 0rem 0rem 0.3rem;
  	min-width: 1.4rem;
  	min-height: 1.4rem;
  	border: 1px solid $text-color;
  	cursor: pointer;
  	accent-color: $text-color; // Colore del segno di spunta (supportato nei browser moderni)

  	// Rimuovi il bordo nativo se vuoi un design uniforme su tutti i browser
  	appearance: none;
  	-webkit-appearance: none;
  	-moz-appearance: none;
  	background-color: $white-color;

  	&:checked {
  		background-color: $text-color;
  	}

  	&:focus {
  		outline: none;
  		box-shadow: 0 0 0 2px rgba($text-color, 0.3);
  	}
  }*/
}
form label {
  font-weight: 900;
  font-size: clamp(1.5rem, 1.5vw, 1.5rem);
  color: #3e3e3e;
  margin: clamp(0.3rem, 0.5vw, 0.5rem) clamp(0.3rem, 0.5vw, 0.5rem);
}
form input[type=text] {
  padding: 0rem 0.1rem 0rem 0.1rem;
  min-width: clamp(13rem, 15vw, 15rem);
  max-width: clamp(13rem, 15vw, 15rem);
  min-height: clamp(2rem, 2vw, 2rem);
  margin: 0rem 0.8rem 0.8rem 0.3rem;
  border: 1px solid #cabb98;
  border-radius: 0.3rem;
  font-size: clamp(1.5rem, 1.5vw, 1.5rem);
  color: #3e3e3e;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
form input[type=text]::placeholder {
  font-weight: 400;
  color: #cabb98;
}
form input[type=text]:focus {
  border: 1px solid #cabb98;
  outline: none;
  box-shadow: 0 0 5px #beb39e;
}
form input[type=email] {
  padding: 0rem 0.1rem 0rem 0.1rem;
  min-width: clamp(13rem, 15vw, 15rem);
  max-width: clamp(13rem, 15vw, 15rem);
  min-height: clamp(2rem, 2vw, 2rem);
  margin: 0rem 0.8rem 0.8rem 0.3rem;
  border: 1px solid #cabb98;
  border-radius: 0.3rem;
  font-size: clamp(1.5rem, 1.5vw, 1.5rem);
  color: #3e3e3e;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
form input[type=email]::placeholder {
  font-weight: 400;
  color: #cabb98;
}
form input[type=email]:focus {
  border: 1px solid #cabb98;
  outline: none;
  box-shadow: 0 0 5px #beb39e;
}
form input[type=password] {
  padding: 0rem 0.1rem 0rem 0.1rem;
  min-width: clamp(13rem, 15vw, 15rem);
  max-width: clamp(13rem, 15vw, 15rem);
  min-height: clamp(2rem, 2vw, 2rem);
  margin: 0rem 0.8rem 0.8rem 0.3rem;
  border: 1px solid #cabb98;
  border-radius: 0.3rem;
  font-size: clamp(1.5rem, 1.5vw, 1.5rem);
  color: #3e3e3e;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
form input[type=password]::placeholder {
  font-weight: 400;
  color: #cabb98;
}
form input[type=password]:focus {
  border: 1px solid #cabb98;
  outline: none;
  box-shadow: 0 0 5px #beb39e;
}
form input[type=number] {
  padding: 0rem 0.1rem 0rem 0.1rem;
  min-width: clamp(2rem, 4vw, 4rem);
  max-width: clamp(13rem, 15vw, 15rem);
  min-height: clamp(2rem, 2vw, 2rem);
  margin: 0rem 0.8rem 0.8rem 0.3rem;
  border: 1px solid #cabb98;
  border-radius: 0.3rem;
  font-size: clamp(1.5rem, 1.5vw, 1.5rem);
  color: #3e3e3e;
}
form input[type=number]::placeholder {
  font-weight: 400;
  color: #cabb98;
}
form input[type=number]:focus {
  border: 1px solid #cabb98;
  outline: none;
  box-shadow: 0 0 5px #beb39e;
}
form .select {
  padding: 0.5rem 1rem;
  min-width: clamp(2rem, 4vw, 4rem);
  max-width: clamp(13rem, 15vw, 15rem);
  min-height: clamp(2rem, 2vw, 2rem);
  margin: 0rem 0.8rem 0.8rem 0.3rem;
  border: 1px solid #cabb98;
  border-radius: 0.4rem;
  font-size: clamp(1.5rem, 1.5vw, 1.5rem);
  color: #3e3e3e;
  background-color: #fcfaf7;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url("/images/freccia.svg");
  background-repeat: no-repeat;
  background-size: 1rem;
  cursor: pointer;
}
form .select:focus {
  border: 1px solid #cabb98;
  outline: none;
  box-shadow: 0 0 5px #beb39e;
}
form #descrizione {
  min-height: 10rem;
  max-width: 50rem;
  padding: 0.5rem 1rem;
  font-size: clamp(1.5rem, 1.5vw, 1.5rem);
  border: 1px solid #cabb98;
  border-radius: 0.4rem;
  color: #3e3e3e;
}
form #descrizione:focus {
  outline: none;
  box-shadow: 0 0 5px #beb39e;
}
form #descrizione::placeholder {
  font-weight: 400;
  color: #cabb98;
}
form .file {
  padding: 0.5rem 1rem;
  background-color: #cabb98;
  border: 1px solid #beb39e;
  border-radius: 0.4rem;
  font-size: clamp(1.5rem, 1.5vw, 1.5rem);
  color: #3e3e3e;
  transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}
form .file:hover {
  outline: none;
  box-shadow: 0 0 5px #beb39e;
}
form .file:focus {
  outline: none;
  box-shadow: 0 0 5px #beb39e;
}
form .file::file-selector-button {
  margin: 0rem 0rem;
  background-color: #feffc9;
  border: none;
  border-radius: 0.4rem;
  color: #3e3e3e;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
}
form .file::file-selector-button:hover {
  background-color: #dac448;
}
form .listaProdottiSimili {
  margin: 0rem 3rem 0rem 0rem;
  width: auto;
  max-height: 50rem;
  overflow-y: auto;
  border: 1px solid #beb39e;
  border-radius: 0.4rem;
  padding: 1rem;
}
form input[type=checkbox] {
  margin: 0rem 0rem 0rem 0.3rem;
  min-width: 1.4rem;
  min-height: 1.4rem;
  border: 1px solid #beb39e;
  border-radius: 1rem;
  cursor: pointer;
  accent-color: #cabb98;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fcfaf7;
}
form input[type=checkbox]:checked {
  background-color: #cabb98;
}
form input[type=checkbox]:focus {
  outline: none;
  box-shadow: 0 0 5px #beb39e;
}
form input[type=date] {
  padding: 0rem 0.1rem 0rem 0.1rem;
  min-width: clamp(13rem, 15vw, 15rem);
  max-width: clamp(13rem, 15vw, 15rem);
  min-height: clamp(2rem, 2vw, 2rem);
  margin: 0rem 0.8rem 0.8rem 0.3rem;
  border: 1px solid #cabb98;
  border-radius: 0.3rem;
  font-size: clamp(1.5rem, 1.5vw, 1.5rem);
  color: #3e3e3e;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
form input[type=date]::placeholder {
  font-weight: 400;
  color: #cabb98;
}
form input[type=date]:focus {
  border: 1px solid #cabb98;
  outline: none;
  box-shadow: 0 0 5px #beb39e;
}

.index .text-center .button {
  margin: 3.5rem 0rem;
}
.index .prodotti {
  margin: 2rem 1rem;
  padding: 1rem;
  background-color: #fcfaf7;
  box-shadow: 0 0.2rem 0.2rem #cabb98;
}
.index .prodotti .prodotto {
  background-color: #cabb98;
  border-radius: 20rem;
  height: 23rem;
}
.index .prodotti .prodotto .immagine {
  width: 15rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.index .prodotti .prodotto .immagine:hover {
  transform: translateY(-0.8rem);
}
.index .prodottiCatalogo {
  margin: 2rem 1rem;
  padding: 1rem;
}
.index .prodottiCatalogo .prodotto {
  background-color: #cabb98;
  border-radius: 20rem;
  height: 23rem;
}
.index .prodottiCatalogo .prodotto .immagine {
  width: 15rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.index .prodottiCatalogo .prodotto .immagine:hover {
  transform: translateY(-0.8rem);
}
.index .dati {
  width: 50rem;
}
.index .chicchiCaffe {
  margin: 2rem 1rem;
  padding: 1rem;
}
.index .chicchiCaffe .chiccoCaffe {
  all: unset;
  background-color: #cabb98;
  border-radius: 20rem;
  height: 20rem;
  width: 20rem;
  font-family: "Covered By Your Grace", cursive;
  font-weight: 400;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.index .chicchiCaffe .chiccoCaffe p {
  font-size: 2.5rem;
}
.index .chicchiCaffe .chiccoCaffe:hover {
  transform: translateY(-0.8rem);
}
.index .chicchiCaffe .piccoloChiccoCaffe {
  background-color: #cabb98;
  border-radius: 20rem;
  height: 10rem;
  width: 10rem;
  font-family: "Covered By Your Grace", cursive;
  font-weight: 400;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.index .chicchiCaffe .piccoloChiccoCaffe p {
  font-size: 1.5rem;
}
.index .chicchiCaffe .piccoloChiccoCaffe:hover {
  transform: translateY(-0.8rem);
}

.auth section {
  margin: clamp(1.5rem, 3vw, 3rem) clamp(1rem, 3vw, 3rem);
  padding: clamp(3rem, 3vw, 3rem) clamp(1rem, 3vw, 3rem);
  width: clamp(18rem, 35vw, 35rem);
  background-color: rgba(95, 87, 102, 0.9);
  border: 0.01rem solid #3a3340;
  border-radius: 0.3rem;
  box-shadow: 0 0.2rem 0.2rem #3a3340;
}
.auth section p {
  color: #c7c4c9;
}
.auth section label {
  color: #c7c4c9;
}
.auth section input[type=text] {
  border: 1px solid #3a3340;
}
.auth section input[type=text]::placeholder {
  color: #c7c4c9;
}
.auth section input[type=email] {
  border: 1px solid #3a3340;
}
.auth section input[type=email]::placeholder {
  color: #c7c4c9;
}
.auth section input[type=password] {
  border: 1px solid #3a3340;
}
.auth section input[type=password]::placeholder {
  color: #c7c4c9;
}

.prodottoPage .immagine {
  width: 20rem;
}
.prodottoPage .commenti {
  margin: 2rem 1rem;
  padding: 1rem;
}
.prodottoPage .commenti .nomeUser {
  margin: 2rem 1rem 0rem 1rem;
  padding: 1rem;
  background-color: #5f5766;
  box-shadow: 0 0.2rem 0.2rem #cabb98;
}
.prodottoPage .commenti .nomeUser span {
  font-size: 2rem;
  color: #c7c4c9;
}
.prodottoPage .commenti .nomeUser .data {
  font-size: 1.5rem;
}
.prodottoPage .commenti .commento {
  margin: 0rem 1rem 2rem 1rem;
  padding: 1.5rem 1rem;
  background-color: #beb39e;
  box-shadow: 0 0.2rem 0.2rem #cabb98;
  min-height: 5rem;
  min-width: 30rem;
}
.prodottoPage .commenti .commento #descrizione {
  min-height: 5rem;
  min-width: 20rem;
  max-width: 50rem;
}

/*# sourceMappingURL=main.css.map */
