h1 {
	font-size: 5rem;
	font-weight: $bold-text;
	color: $title-color;
	font-family: $font-title;
}

.logo {
	font-size: 3rem;
	font-family: $font-logo;
}

.title {
	font-size: 3rem;
	font-family: $font-title;
	margin: 0rem 0rem 2rem 0rem;
}

p {
	color: $font-color;
	font-size: 1.5rem;
}

span {
	color: $font-color;
	font-size: 1.5rem;
}

a {
	color: inherit; // Mantiene il colore del testo del genitore
	text-decoration: none;
}

.link {
	//text-decoration: underline;
	color: $title-color;
	font-family: $font-title;
}

.nomePrezzo {
	font-family: $font-title;
}

.nomePrezzoGrande {
	font-family: $font-title;
	font-size: 4rem;
}

.aUnderline {
	//text-decoration: underline;
	font-family: $font-logo;
	color: $jewels-color;
}

.error {
	color: $error-color;
}