// Colori
$coffe-color: #ede2cf;
$top-coffe-color: #cabb98;

$hair-color: #5f5766;
$dark-hair-color: #3a3340;

$light-eyes-color: #feffc9;
$eyes-color: #dac448;
$dark-eyes-color: #b09500;

$light-jewels-color: #c3fef7;
$jewels-color: #42c2ac;
$dark-jewels-color: #00a485;

$white-color: #fcfaf7;
$shadow-color: #beb39e;

$font-color: #3e3e3e;
$title-color: #fc696a;

$bold-text: 900;
$light-text: 400;

// Font
$font-primary: "Gaegu", sans-serif;
$font-title: "Fredericka the Great", serif;
$font-logo: "Covered By Your Grace", cursive;